/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 /** @since 4.11.0 layout for imagegrids */
 .cf7sg-list .cf7sg-dl.cf7sg-dc {
	display: block;
}
.cf7sg-list .cf7sg-dc.level-6 {margin: 0 0 0 48px}
.cf7sg-list .cf7sg-dc.level-5 {margin: 0 0 0 40px}
.cf7sg-list .cf7sg-dc.level-4 {margin: 0 0 0 32px}
.cf7sg-list .cf7sg-dc.level-3 {margin: 0 0 0 24px}
.cf7sg-list .cf7sg-dc.level-2 {margin: 0 0 0 16px}
.cf7sg-list .cf7sg-dc.level-1 {margin: 0 0 0 8px}
.cf7sg-list .cf7sg-dc.level-6:dir(rtl) {margin: 0 48px 0 0}
.cf7sg-list .cf7sg-dc.level-5:dir(rtl) {margin: 0 40px 0 0}
.cf7sg-list .cf7sg-dc.level-4:dir(rtl) {margin: 0 32px 0 0}
.cf7sg-list .cf7sg-dc.level-3:dir(rtl) {margin: 0 24px 0 0}
.cf7sg-list .cf7sg-dc.level-2:dir(rtl) {margin: 0 16px 0 0}
.cf7sg-list .cf7sg-dc.level-1:dir(rtl) {margin: 0 8px 0 0}

.cf7sg-imagehdd .cf7sg-dl {
	position: relative;
	width: 150px;
	height: 150px;
}
.cf7sg-imagehdd .cf7sg-dl p {
	position: absolute;
	width: 150px;
	padding: 2px 5px;
	bottom: 0;
	line-height: normal;
	background: #0000008c;
	color: white;
	text-align: center;
	margin: auto;
	font-size: 18px;
}
.cf7sg-imagehdd .hybriddd-option {
	line-height: 0;
	vertical-align: top;
}
.cf7sg-imagegrid.hybrid-dropdown,
.cf7sg-imagegrid .hybriddd-wrapper {
	border: none;
}
.hybriddd-landscape.cf7sg-imagehdd .hybriddd-option > label {
	padding: 2px;
	position: relative;
}
.hybrid-dropdown.cf7sg-imagehdd ul.hybriddd-options,
.hybrid-dropdown.cf7sg-imagehdd .hybriddd-option{
	height: auto;
}
/* image grid */
.cf7sg-imagehdd .hybriddd-wrapper.hybriddd-grid{
	--hybriddd-gap:2px;
  width:calc( calc( var(--hybriddd-item, max-content) + var(--hybriddd-gap) ) * var(--hybriddd-col) );
}
.cf7sg-imagehdd.hybriddd-none .hybriddd-option label,
.cf7sg-imagegrid.hybriddd-none .hybriddd-option label{width:auto};
.cf7sg-imagehdd .hybriddd-grid .hybriddd-options {
	grid-column-gap: var(--hybriddd-gap);
	column-gap: var(--hybriddd-gap);
	row-gap: var(--hybriddd-gap);
}
.cf7sg-imagehdd .hybriddd-grid .hybriddd-option > label:hover {
	transform: scale(96%);
}
.hybriddd-none .hybriddd-option > label > input {
	position: absolute;
}
.cf7sg-imagehdd .hybridddcb::before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	margin: 0;
}
.cf7sg-imagegrid input:checked+.hybridddcb::before {
	width: 10px;
	height: 10px;
	margin: 4px auto;
	background: white;
	border-radius: 50%;
}
.cf7sg-imagegrid.hybrid-dropdown .hybridddcb{
	visibility: hidden;
}
.cf7sg-imagehdd.show-cb .hybridddcb {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	margin: 4px;
}
.cf7sg-imagegrid input:checked+.hybridddcb {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	visibility: visible;
	border-radius: 50%;
	z-index: 7;
	background: #000000a6;
}
.cf7sg-imagegrid .cf7sg-dc .cf7sg-dc-img {
	border: solid 1px #fff0;
}
.cf7sg-imagegrid .cf7sg-dc .cf7sg-dc-img:before {
  background-color: white;
  color: white;
  content: " ";
  display: none;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 24px;
  transition-duration: 0.4s;
  transform: scale(0);
}
.cf7sg-imagegrid .cf7sg-dc input:checked + .cf7sg-dc-img:before {
  content: "+";
  background-color: grey;
  transform: scale(1);
	display: block;
	z-index: 2;
}
.cf7sg-imagegrid .cf7sg-dc input:checked + .cf7sg-dc-img {
	border-color: grey;
}
.cf7sg-imagegrid .cf7sg-dc .cf7sg-dc-img img {
	height: 100%;
	width: 100%;
	transition-duration: 0.2s;
	transform-origin: center;
}
.cf7sg-imagegrid .cf7sg-dc input:checked + .cf7sg-dc-img img {
	transform: scale(0.9);
}
 .cf7sg-imagegrid .cf7sg-dynamic_checkbox {
 	display: flex;
 	flex-flow: row wrap;
 	justify-content: start;
  /* align-content: center; */
 }
 .cf7-smart-grid.has-grid .cf7sg-align-center .wpcf7-form-control {
	width: max-content;
	display: block;
	margin: auto;
}
.cf7sg-imagegrid .cf7sg-dc input {
	display: none;
}
.cf7sg-imagegrid .cf7sg-dc-label p {
	display: inline-flex;
	margin: 0;
	padding: 3px 10px;
	background: #ffffff7d;
	text-align: center;
}
.cf7sg-imagegrid .cf7sg-dc-label {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	align-items: center;
  flex-direction: column;
}

 .cf7sg-imagegrid .cf7sg-dc {
	position: relative;
	display: inline-flex;
  margin: 3px;
}
 /*------ style rules -----*/
 .cf7-smart-grid.has-grid .wpcf7 .ajax-loader {
	margin: -24px 0 0 5px;
	position: absolute;
	top: 50%;
}
/* .cf7sg-container .ui-tabs-active .ui-tabs-anchor, */
/* .cf7sg-container .ui-widget-content .ui-state-active, */
/* .cf7sg-container .ui-widget-content .ui-state-default, */
 .cf7sg-container .ui-widget-content,
 .cf7sg-container .toggle-light .toggle-off,
  .cf7sg-container .ui-widget-header {
     background: transparent;
 }
 .ui-state-active {color: inherit;}
 .cf7sg-container {	line-height: 1.2;}
 .cf7sg-container a.ui-button {
	color: inherit;
}
.cf7sg-container .cf7sg-add-tab .ui-state-default {
	border: solid 1px #aaa;
}
 /* .cf7sg-container .ui-tabs-anchor{ background: #aaa5} */
.cf7sg-slider-section .glider{overflow-x: hidden;padding-bottom:10px}
 .cf7sg-container .ui-widget{ font: inherit; font-size:inherit}
 .cf7sg-slider-section .slider-control.slider-prev{float:left}
 .cf7sg-slider-section .slider-control.slider-prev:dir(rtl){float:right}
 .cf7sg-slider-section .slider-control.slider-next{float:right}
 .cf7sg-slider-section .slider-control.dashicons-arrow-left-alt:dir(rtl){transform: rotate(180deg)}
 .cf7sg-slider-section .slider-control.slider-next:dir(rtl){float:left}
 .cf7sg-slider-section .slider-control.dashicons-arrow-right-alt:dir(rtl){transform: rotate(180deg)}
 .cf7sg-slide-active{z-index: 100;}
 .cf7sg-slider-section .slider-control:hover{cursor: pointer;}
 .glider-slide > .cf7sg-collapsible-title {margin-bottom: 10px;}
 .cf7sg-container .cf7-smart-grid.has-grid .columns .container.glider-slide{padding:0 25px 0 10px}
 .cf7sg-container .slider-control {margin-top: 10px}
 .cf7-smart-grid.has-grid .cf7sg-slider-section input.wpcf7-submit.slider-control {float: right;width: auto}
 .cf7-smart-grid.has-grid .cf7sg-slider-section input.wpcf7-submit.slider-control:dir(rtl){float:left}
 .glider-dot[data-cf7sg="error"] {background-color: #df8b8b}
 .glider-dot[data-cf7sg="error"]:focus {background-color: #ffb3b3}
 .glider-dot[data-cf7sg="error"].active {background-color: red}

 .container.cf7sg-slider-controls .slider-control {
	margin: 0;
	display: inline-block;
	vertical-align: top;
}
.container.cf7sg-slider-controls .slider-next{float:right;}
.cf7sg-slider-controls > .row {width:100%;float:right;}
 .cf7-smart-grid.has-grid .ui-button {
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 8px 12px;
}
.cf7-sg-table-button.disabled .ui-button {
    color: gray;
    cursor: not-allowed;
    text-decoration-line: none;
}
ul.cf7-sg-tabs-list li .dashicons.dashicons-no-alt {
    border-left: solid 1px grey;
    border-bottom: solid 1px grey;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
ul.cf7-sg-tabs-list li[data-cf7sg="error"] {border: #d90000 solid 2px;}
.row.cf7-sg-table .row-control {
    border: solid 1px #b9b9b9;
    border-left: none;
}
.cf7sg-collapsible[data-cf7sg="error"] {border-right: double 4px red;}
.container.cf7sg-collapsible + .container > .row:first-child > .columns.full > .container.cf7-sg-table {
    margin-top: 10px;
}

.wpcf7 form .wpcf7-response-output { display: none !important;}

.wpcf7 form .cf7sg-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
	border: 2px solid #00a0d2; /* Blue */
}

.wpcf7 form.init .cf7sg-response-output,
.wpcf7 form.resetting .cf7sg-response-output,
.wpcf7 form.submitting .cf7sg-response-output {
	display: none;
}

.wpcf7 form.sent .cf7sg-response-output {
	border-color: #46b450; /* Green */
}

.wpcf7 form.failed .cf7sg-response-output,
.wpcf7 form.aborted .cf7sg-response-output {
	border-color: #dc3232; /* Red */
}

.wpcf7 form.spam .cf7sg-response-output {
	border-color: #f56e28; /* Orange */
}

.wpcf7 form.invalid .cf7sg-response-output,
.wpcf7 form.unaccepted .cf7sg-response-output {
	border-color: #ffb900; /* Yellow */
}
.container.cf7sg-collapsible>.ui-accordion .ui-accordion-content{
  padding: 0.5em 1em;
}
.row.cf7-sg-table .row-control .dashicons {
    background-color: white;
    border-radius: 50%;
    border: solid 1px #b9b9b9;
    color: #848484;
}
.cf7-smart-grid.has-grid div.field span.wpcf7-not-valid-tip {
    background: #e9e9e9;
    border-radius: 3px;
}
span.cf7sg-validation-warning {
    font-size: 80%;
    color: #626262;
    border-radius: 3px;
    border: solid 1px #656565;
    background: #f2f2f2;
}
.cf7sg-validation-warning .confirm-button {
    background: white;
    border: #989898 solid 2px;
    border-radius: 5px;
    color: #8f0000;
    text-transform: uppercase;
    font-size: 0.9em;
}
.cf7-smart-grid.has-grid .field > label em {
    color: red;
}
.cf7-smart-grid.has-grid .info-tip {
    font-size: 80%;
    font-style: italic;
    color: grey;
    margin: 0 0 5px 0;
}
.cf7-smart-grid.has-grid .wpcf7-form-control:not(img) {
    border-radius: 3px;
}
/* .cf7-smart-grid.has-grid .wpcf7-submit {
    background: #383838;
    border: solid 1px #383838;
    border-radius: 3px;
    font-size: 110%;
    font-weight: bold;
    color: white;
}
.cf7-smart-grid.has-grid .wpcf7-save {
    background: transparent;
    color: #383838;
} */
.cf7sg-collapsible .ui-state-default {
    background: transparent;
}
.cf7-smart-grid.has-grid .wpcf7-form-control-wrap .select2-selection--single .select2-selection__rendered {
    font-size: 0.9em;
}
.cf7-smart-grid.has-grid .select2-results__option {
    font-size: 0.8em;
}
.cf7sg-collapsible .toggle-light .toggle-on,
.cf7sg-collapsible .toggle-light .toggle-off {
  font-size: 0.75em;
}
span.cf7sg-popup {
  background: rgba(227, 227, 227, 0.81);
  font-size: 1.2em;
  border-radius: 3px;
}
 /*------ layout rules ----*/
 .sy-slide > .cf7sg-collapsible-title {
	margin-bottom: 10px;
}
 .cf7sg-container .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: .2em 1em;
}
.cf7sg-slide-filler .ajax-loader {
	float: right;
}
.cf7-smart-grid.has-grid input.select2-search__field {
    min-width: 1.3em;
}
.cf7-sg-table-button .max-limit.wpcf7-not-valid-tip {
    display: inline;
    margin-right: 30px;
}
ul.cf7-sg-tabs-list li .dashicons.dashicons-no-alt {
    position: absolute;
    right: 0;
}
.cf7sg-add-tab.ui-tabs-nav .ui-tabs-anchor {
    padding: .2em 1em;
}
.ui-tabs .cf7-sg-tabs-list.ui-tabs-nav .ui-tabs-anchor {
    padding: .2em 20px;
}
ul.cf7-sg-tabs-list li {
    position: relative;
}
.cf7-sg-tabs.ui-tabs ul.ui-tabs-nav li a:hover,
.cf7-sg-tabs.ui-tabs ul.ui-tabs-nav li .dashicons-no-alt:hover {
    cursor: pointer;
}
 .cf7-smart-grid .dashicons{
  vertical-align: middle;
}
.ui-tabs .cf7sg-add-tab.ui-tabs-nav {
    display: inline-block;
    padding-left: 0;
}
ul.cf7-sg-tabs-list {
    display: inline-block;
}
 .cf7-smart-grid .cf7-sg-table-button {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 5px;
}
.cf7-smart-grid .row.cf7-sg-table-footer {
    margin-top: 5px;
}
.cf7-smart-grid .row.cf7-sg-table {
    margin-top: 3px;
}
.cf7-smart-grid .row.cf7-sg-table-footer+.cf7-sg-table-button {
    margin-top: 0;
}
.row.cf7-sg-table-layout .columns input:not([type="submit"]){
  width:100%;
}
.row.cf7-sg-table {
  position:relative;
}
.row.cf7-sg-table .row-control .dashicons:hover {
    cursor: pointer;
}
.row.cf7-sg-table .row-control {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    margin-right: -15px;
    width: 5px;
    display:none;
}
.row.cf7-sg-table:nth-last-child(2) .row-control:not(.display-none) {
    display: inline;
}
.row.cf7-sg-table .row-control .dashicons {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    margin-left: -5px;
}
.cf7-smart-grid.has-grid div.field span.wpcf7-not-valid-tip {
    /* display: inherit;
    position: absolute;
    right: 0;
    bottom: -16px; */
    padding: 3px 10px;
    min-width: 195px;
    line-height: 1.2em;
    /* z-index: 7777; */
}
.cf7-smart-grid.has-grid .field input:focus + span.wpcf7-not-valid-tip,
.cf7-smart-grid.has-grid .field select:focus + span.wpcf7-not-valid-tip,
.cf7-smart-grid.has-grid .field textarea:focus + span.wpcf7-not-valid-tip {
	display: none;
}
span.cf7sg-validation-warning {
    display: block;
    position: absolute;
    right: 50%;
    top: 25px;
    width: 140px;
    height: auto;
    margin-right: -70px;
    z-index:999;
    padding: 2px 3px;
}
.cf7sg-validation-warning .confirm-button {
    position: absolute;
    bottom: -13px;
    right: -19px;
    padding: 1px 5px;
    cursor:pointer;
}
.cf7-smart-grid.has-grid input.select2-search__field{
  background-image: url('search.png');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 5px);
  background-position-y: 50%;
}
.cf7sg-collapsible .row.ui-accordion-content {
    min-height: 120px;
    overflow: unset;
}
.cf7-smart-grid.has-grid .field {
    width: 100%;
}
.cf7-smart-grid.has-grid .wpcf7-form-control:not(img),
.cf7-smart-grid.has-grid .hybriddd-selected {
    width: 100%;
}
.cf7-smart-grid.has-grid .wpcf7-form-control.cf7sg-imagegrid{
	width:max-content;
	display: block;
	margin: 0 auto;
}
.cf7-smart-grid.has-grid .select2 {
    width: 100% !important;
}
.cf7-smart-grid.has-grid .field .wpcf7-form-control-wrap{
  display: inline-block;
  width: 100%;
}
.cf7-smart-grid.has-grid .cf7-tags-2 .field .wpcf7-form-control-wrap {
  max-width: 200px;
  width: 50%;
}
.cf7sg-container .cf7-smart-grid.has-grid .row.cf7-sg-table > .columns > .container > .container,
.cf7sg-container .cf7-smart-grid.has-grid .columns .container {
    padding: 0;
}
.cf7-smart-grid.has-grid .field .wpcf7-form-control-wrap + .wpcf7-form-control-wrap {
    vertical-align: middle;
}
.cf7-smart-grid.has-grid .field > label {
    display: block;
    margin-bottom: 0;
}
.cf7-smart-grid.has-grid .wpcf7-form-control:not(img) {
    min-height: 34px;
}
.cf7-smart-grid.has-grid .wpcf7-form-control.nice-select {
    line-height: 32px;
    height: 34px;
}
.cf7-smart-grid.has-grid .wpcf7-form-control-wrap .select2-selection__arrow {
    min-height: 34px;
}
.cf7-smart-grid.has-grid .wpcf7-form-control-wrap .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}
.cf7-smart-grid.has-grid .wpcf7-form-control-wrap .select2-selection.select2-selection--single {
    min-height: 34px;
}
.cf7-smart-grid.has-grid .wpcf7-form-control.wpcf7-radio,
.cf7-smart-grid.has-grid .wpcf7-form-control.wpcf7-checkbox {
    display: inline-block;
}
.cf7sg-collapsible.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    right: .5em;
    left: unset;
}
.cf7sg-collapsible .toggle {
  display: inline-block;
  vertical-align: middle;
  float: right;
}
.cf7sg-collapsible .toggle .toggle-inner {
    height: auto;
}

.cf7sg-collapsible .cf7sg-title+.toggle {
    float: none;
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -10px;
}
.cf7sg-collapsible .cf7sg-title + .toggle:dir(rtl) {
	right: auto;
	left: 6px;
}
.cf7sg-title.toggled {
    max-width: calc(100% - 60px);
    display: inline-block;
    vertical-align: middle;
}
/*smomehow the icon accordion have a larger left padding*/
.ui-accordion .ui-accordion-icons {
    padding-left: .7em;
}
.cf7sg-external-form {
    margin-bottom: 5px;
}
.cf7sg-container .cf7-smart-grid.has-grid .container {
    margin-bottom: 5px;
}
.cf7sg-container .cf7-smart-grid.has-grid .container:last-child {
    margin-bottom: 0;
}
.cf7-smart-grid.has-grid .nice-select ul.list {
    max-height: 300px;
    overflow-y: auto;
}
a.cf7sg-button {
    min-height: 34px;
    padding: 5px 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.cf7sg-popup-box{
  position: relative;
}
.display-none{display: none;}
span.cf7sg-popup {
  bottom: -1.2em;
  max-height: 200px;
  left: 0;
  position: absolute;
  transition: 500ms ease;
  padding: .4em;
  white-space: nowrap;
}
.wpcf7-form-control.wpcf7-submit:disabled:hover+span.cf7sg-popup {display: block;}
a.cf7sg-button {
    background: #383838;
    color: white;
    border: solid 1px #383838;
    border-radius: 3px;
    font-weight: bold;
    font-size: 110%;
}
@media (max-width: 480px) {
  .cf7sg-container .cf7-smart-grid.has-grid .wpcf7[dir="rtl"] .row {
    transform: rotate(180deg);
  }
  .cf7sg-container .cf7-smart-grid.has-grid .wpcf7[dir="rtl"] .columns {
  	transform: rotate(-180deg);
  }
}
