 .display-none {
    display: none;
}
#wpbody-content .inline-edit-row-page fieldset.hide-element,
#wpbody-content .inline-edit-row-page fieldset.hide-element *{
    height: 0;
    width: 0;
    overflow: hidden;
    margin:0;
}
.button-primary.cf7sg-next {
    margin-right: 22px;
    margin-top: -4px;
}
