#post_name {
	width: calc(100% - 60px);
}
.cf7sg-warning {
  position: absolute;
  display: block;
  top: 0;
  right: 50px;
  background: white;
  padding: 10px 20px;
  border: 2px solid grey;
  border-radius: 3px;
  font-size: 1.2em;
  margin-top: 50px;
}
[data-search="li.cf7sg-tag-all,li.cf7sg-tag-dynamic_select,li.cf7sg-tag-dynamic_select-filter"] + .helper-popup {
  min-width: 300px;
}
#meta-box-main-cf7-editor .inside {
	padding: 0;
	margin: 0;
}
body.disable-scroll{overflow:hidden;}
#meta-box-cf7-info p, #minor-publishing .misc-pub-section {
margin: 0;
padding: 5px 0 0;
}
#cf7sg-locale-info.cf7sg-locale-warning > span + strong{
  background-color: red;
  padding: 0 3px;
}
#minor-publishing {
padding: 0 12px;
}
#post_name {
width: calc(100% - 60px);
}
a.helper {text-decoration: none;cursor: pointer;}
a.helper + span.helper {
  display: none;
  position: absolute;
  background: white;
  border: solid 1px;
  padding: 2px;
  margin-top: -25px;
  color: black;
}
.helper .tag-colour { font-weight: bold;}
a.helper:hover + span.helper {display: inline;}
.wp-pointer-buttons a.close {
    margin: 5px 0 0 20px;
}
#ajax-response.error-msg{
  color:red;
}
#full-screen-cf7 {
    position: absolute;
    top: -2.4rem;
    left: 160px;
		z-index: 100;
}
#full-screen-cf7.full-screen {
  position: absolute;
  top: auto;
  left: auto;
  right: 0;
  bottom: -58px;
}
*[dir="rtl"] #full-screen-cf7.full-screen {
	right: auto;
	left: 0;
}
#cf7sg-editor.full-screen {
  top: 5px;
  z-index: 10;
  position: fixed;
  overflow: auto;
  height: 100%;
  margin-left: -15px;
  right:0;
  width: calc( 100% - 170px);
}
.folded #cf7sg-editor.full-screen{
	width: calc( 100% - 46px);
}
#form-editor-tabs ul.ui-tabs-nav {
    border-bottom: 1px solid #ddd;
    padding: 7px 0px 0 3px;
    margin: 0;
    min-width: 100%;
    text-align: right;
    z-index: 1;
    position: relative;
}
#form-editor-tabs ul li.ui-state-disabled:first-child {
    display: none;
}
#form-editor-tabs ul.ui-tabs-nav > li {
    display: inline-block;
    border: solid 1px #ddd;
    padding: 3px 7px;
    background-color: #d1d1d1;
    margin: 0 0px -1px;
    border-top-left-radius: 3px;
}
#form-editor-tabs ul.ui-tabs-nav > li.ui-tabs-active {
    background: #f5f5f5;
    border-bottom: none;
}
.tagsdiv .tagchecklist > span {
    display: block;
    margin: 0;
    clear: both;
    line-height: 15px;
}
.tagsdiv .tagchecklist button.ntdelbutton{
  display:none;
}
.cf7sg-dynamic-list p.the-tagcloud a {
    display: block;
    line-height: 15px;
    font-size: 13px !important;
    text-decoration: none;
    color: #669;
    cursor:default;
}
#poststuff .cf7sg-dynamic-list  p.the-tagcloud {
  border: none;
  padding: 0;
  margin-left: 14px;
  margin-top:0;
}
.cf7sg-dynamic-list button.tagcloud-link {
    display: none;
}
.cf7sg-dynamic-list .hide-if-no-js {
    margin-top: 0;
}
#cf7sg-cache-limit + p {margin: 0;font-style: italic;}
#cf7sg-cache-limit + p > code {font-style:normal;}
#cf7sg-cache-limit {display: inline-block;}
#cf7sg-cached-time {max-width: 63px;}
#editors, #contact-form-editor {position: relative;}
#optional-editors {
	display: inline-block;
	position: absolute;
	margin-top: 8px;
  z-index:2;
}
.cf7sg-tutorial {
	width: 100%;
	min-height: 200px;
}
.cf7sg-tutorial p {
	width: 220px;
	vertical-align: top;
	display: inline-block;
}
.cf7sg-tutorial .img {
	background-image: url('./image/tutorial.png');
	width: 220px;
	height: 182px;
	background-size: contain;
	display: inline-block;
}
.cf7sg-tutorial .img:hover {
	transform: scale(105%);
}
.cf7sg-pointer-dynamic_checkbox,
.cf7sg-pointer-tutorials_pointer,
.cf7sg-pointer-dynamic_dropdown,
.cf7sg-pointer-js_css_editors
{width:490px !important}
.cf7sg-pointer .wp-pointer-buttons a.close {
	float: left;
}
.cf7sg-pointer .wp-pointer-content h3::before {
	content: "\01F30A";
	font: normal 22px/normal dashicons;
	top: 10px;
	width: 34px;
	height: 32px;
}
.tag-generator-panel .insert-box input.tag{max-width: 490px;}
/** @since 4.11 disable tag buttons on grid with no open textarea */
.cf7-tag-generators.click-disabled a {
	pointer-events: none;
	color: grey;
}
*[dir="rtl"] #optional-editors {left: 0}
#preview-form-link {
	text-align: right;
}