 .display-none {display: none;}
#full-screen-cf7 {
    float: right;
    position: absolute;
    right: 0;
  }
#wpbody-content .inline-edit-row-page fieldset.hide-element,
#wpbody-content .inline-edit-row-page fieldset.hide-element *{
    height: 0;
    width: 0;
    overflow: hidden;
    margin:0;
}
.button-primary.cf7sg-next {
    margin-right: 22px;
    margin-top: -4px;
}
#meta-box-main-cf7-editor.full-width {
    position: absolute;
    width: 100%;
    z-index: 10;
}
.wp-admin.edit-php.post-type-wpcf7_contact_form th#cf7sg-submissions {
	width: 50px;
  text-align: center;
}
.wp-admin.edit-php.post-type-wpcf7_contact_form .column-cf7sg-submissions {
	text-align: center;
}
