.cf7sg-msg { margin-left: 15px; font-size: 1.1em}
.cf7sg-msg > .spinner { visibility:visible;float:none}
/*warning message before upgrade*/
#cf7-grid-layout-update .update-link {
	position: relative;
}
#cf7-grid-layout-update .update-link::after {
	content: var(--rpwc2-update-msg);
	display: none;
	color: #a20a0a;
	background: #ededed;
	/* width: 150px; */
	text-align: center;
	padding: 5px 5px;
	border: solid 1px #3b3939;
	border-radius: 3px;
	/* font-weight: bold; */
	position: absolute;
	margin-left: 3px;
	bottom: -8px;
}