:root{
    --cf7sg-scheme-name: "default" ;
    --cf7sg-text-color: #fff ;
    --cf7sg-row-default: #2271b1; /*#23282d*/ ;
    --cf7sg-row-icons: #fff;
    --cf7sg-row-icons-hover: #c0c0c0;
    --cf7sg-col-default: #939393 ;
    --cf7sg-row-table: #F35960;
    --cf7sg-row-tab: #199932;
    --cf7sg-row-collapsible: #9261CA;
    --cf7sg-row-slide: #EBBC47;
    --cf7sg-icon-w:1.1em;
    --cf7sg-r-icon-w:1.1em;
		--cf7sg-icon-s: 1.3em;
}
#cf7sg-editor.blue{
    --cf7sg-scheme-name: "blue";
    --cf7sg-row-default: #52accc;
    --cf7sg-col-default: #e5f8ff;
    --cf7sg-row-icons: #e2ecf1;
}
.codemirror-theme label:hover {
	font-weight: bold;
}
.codemirror-theme label {
	z-index: 10;
	position: relative;
}
.codemirror-theme input {
	display: inline-block;
	margin: 0 2px;
	border-radius: 30%;
}
#contact-form-editor .loading-screen{position:absolute;z-index: 100; padding: 100px 5px 850px 5px; width: calc(100% - 10px); background-color: white; text-align: center}
#contact-form-editor .loading-screen h2{font-size: 20px}
#contact-form-editor .loading-screen .spinner{visibility: visible; float:none}
#contact-form-editor .loading-screen .js-error p {text-align: left;font-size: 15px}
#contact-form-editor .loading-screen .error {color: #b90101}
#optional-editors a.button {font-weight: bold;}
#js-tags > li.show-events:not(#last-item) {
	display: inline-block;
	vertical-align: top;
	border: solid 2px #007cba;
	background: white;
	padding: 5px 8px;
	border-radius: 3px;
}
#js-tags > li.show-events:not(#last-item) li.show-events {display: inline-block;}
#last-item {
	display: inline-block;
	margin-top: 5px;
	margin-left: 3px;
}
#js-tags > li:hover > span {
  transform: rotate(90deg);
  display: inline-block;
}
#js-tags > li > span {
  font-weight:bold;
  transition: 0.2s ease-out;
  padding: 0 5px;
}
#js-tags > li > ul {display: none;}
#js-tags > li > ul>li {margin:0;}
#js-tags > li:hover > ul {
	display: block;
	position: absolute;
	background: white;
	padding: 5px 8px;
	border: solid 1px;
  border-radius: 3px;
	z-index: 100;
}
#js-tags > li:hover > ul > li:hover{position: relative}
#js-tags > li:hover > ul > li:hover > span > span{
  display:block;
  position: absolute;
	background: white;
	padding: 5px 8px;
	border: solid 1px;
  border-radius: 3px;
	z-index: 20;
	width: 225px;
	left: 4px;
	top: -3px;
	font-style: italic;
}
/* @since 4.4 .cf7sg-slider-section .cf7sg-collapsible .collapsible-row-label,
.cf7sg-accordion-rows .cf7sg-collapsible .collapsible-row-label, */
/* .cf7sg-col.cf7sg-slider-section, .cf7sg-col.cf7sg-accordion-rows {box-shadow: 0 0 6px #333;} */
.cf7sg-col:not(.sgc-12) + .grid-ctrls .grid-controls .make-grid{display:inline-block;}
.cf7sg-col.sgc-12 > .cf7sg-container:not(.cf7sg-collapsible) > .cf7sg-row:not(.cf7-sg-table) > .cf7sg-col:not(.sgc-12) + .grid-ctrls .grid-controls .make-grid,
.button.make-grid.display-none, .cf7sg-row.cf7-sg-table .collapsible-row-label, .cf7sg-row.cf7-sg-table .tabs-row-label, 
.cf7sg-container.cf7sg-collapsible > .cf7sg-row .cf7sg-row:not(.cf7-sg-table) .grid-ctrls > .dashicons-admin-generic,
#cf7sg-editor .display-none, #js-tags > li.display-none:not(.show-events), .add-row-button .button.display-none {display: none;}
.enable-grouping.grid-column > .grid-controls .grouping-option {
    display: inline-block;
}
.codemirror-theme {
  position: absolute;
  top: -26px;
  padding: 2px 0 2px 5px;
  background: #eae9e9;
	width: calc( 100% - 313px);
}
.codemirror-theme span.file {
	margin-left: 10px;
	vertical-align: middle;
	background: #f7ecb1;
	padding: 4px 8px;
	color: black;
  max-width: calc( 100% - 216px );
  display: inline-block;
  overflow-x: hidden;
  height: 15px;
}
.codemirror-theme span.file:hover {
	max-width: none;
	overflow-x: visible;
	position: absolute;
	right: 0;
	z-index: 10;
	height: auto;
	width: auto;
}
#cf7-codemirror,#cf7-js-codemirror,#cf7-css-codemirror {position: relative;}
label.grouping-option:hover + span.popup{
	display: inline;
	position: absolute;
	background: white;
	margin-left: 6px;
	width: 200px;
	border: solid 1px gray;
	border-radius: 3px;
	padding: 1px 5px;
	color: inherit;
	top: auto;
	left: auto;
	font-weight: normal;
}
/* #grid-form .js-help + .cf7sg-helper-list{margin-top:39px;} */
/* span.js-icon.column-control{
  background-image: url('./image/js-sprite.png');
width: 13px;
display: inline-block;
height: 10px;
background-size: 200%;
margin-top: 4px;}
.js-icon.column-control:hover {background-position-x: 13px;}
span.php-icon.column-control{
  background-image: url('./image/php-sprite.png');
width: 26px;
display: inline-block;
height: 13px;
background-size: 200%;
margin-top: 2px;}
.php-icon.column-control:hover {background-position-x: 26px;} */

/*
grid layout
*/
#html-script,
#grid-form .grid-controls,
#grid-form .grid-ctrls:not(.grid-column) .dashicons-no-alt,
#grid-form .grid-column > .dashicons-no-alt, .cf7-sg-hidden,
#grid-form .cf7sg-external-form-content{
    display: none;
}
#grid-form .cf7sg-row.cf7-sg-table .grid-controls > *:not(:last-child){
    margin-bottom: 3px;
}
#grid-form .cf7sg-row.cf7-sg-table .grid-controls input[type=checkbox] {
	margin-right: 0;
}
#cf7-editor-grid{
  position: relative;
}
#cf7-editor-grid .add-item-button {
	margin: 10px 0;
}
/* footer table special styling */
#grid-form .cf7sg-row.cf7-sg-table .grid-ctrls label {
	display: none;
}
#grid-form .cf7sg-row.cf7-sg-table .grid-ctrls .table-control,
#grid-form .cf7sg-row.cf7-sg-table .grid-ctrls .table-control input[type=text] {
    display: block;
}
#grid-form .cf7-sg-table-footer .cf7sg-row:not(.cf7-sg-table-footer-row) {
	min-height: 66px;
}
#grid-form .cf7sg-row.cf7-sg-table-footer-row .content {
	text-align: center;
}
#grid-form  .cf7-field-html > :nth-child(1) {
	margin-top: 0;
}
#grid-form .cf7sg-form-select {
    display: block;
    margin: 0 auto;
}
#grid-form .cf7sg-form-select + p {
	text-align: center;
	margin: 0;
}
#grid-form .ext-form-controls {
    position: relative;
    padding: 22px;
}
#grid-form .cf7sg-external-form {
    border: solid 1px #777;
    background-color: #ddd;
    margin: 3px 0;
    border-radius: 3px;
}
textarea.grid-input {
    width: 100%;
    min-height: 65px;
}
#cf7-editor-grid .grid-controls  {
  position: absolute;
  padding: 5px;
  width: auto;
  z-index:1008;
  right: 0;
  text-align: right;
}
#cf7-editor-grid .cf7sg-form-ctrls .dashicons-no-alt {
	float: right;
}
#cf7-editor-grid .grid-ctrls:not(.grid-column){
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 1.5em;
}
#cf7-editor-grid .cf7sg-form-ctrls h3.cf7sg-form-label {
	margin: 0;
	text-align: center;
	font-size: 16px;
}
#cf7sg-editor .cf7sg-form-ctrls.multiple > .cf7sg-form-label.multiple {
	display: block;
}
.cf7sg-form-ctrls.multiple > .cf7sg-form-label.single {
	display: none;
}
#cf7-editor-grid > .cf7sg-form-ctrls .dashicons-admin-generic {
	line-height: 0;
	position: absolute;
	right: 0;
	top: 3px;
}
#cf7-editor-grid > .cf7sg-form-ctrls .active.control-label {
	color: inherit;
}
#cf7-editor-grid > .cf7sg-form-ctrls .toggle .toggle-on{background:linear-gradient(#cfcfcf, #f5f5f5)}
#cf7-editor-grid > .cf7sg-form-ctrls .toggle .toggle-blob{background: var(--cf7sg-row-default);}
#cf7-editor-grid > .cf7sg-form-ctrls .control-label:hover {
	cursor: pointer;
}
#grid-form .grid-controls > *:not(.cf7-sg-hidden) {
	display: block;
}
/* .dashicons.column-control:hover::before, .grid-ctrls .dashicons:hover::before {color:#0065aa} */
#grid-form .cf7sg-col:hover > .grid-column > .cf7-field-inner,
#grid-form .cf7sg-col:hover > .grid-column-tip > .cf7-field-inner {
	background: #e4e4e4;
}
#grid-form .cf7sg-container,
#grid-form .table-row-button input  {
    max-width: 100%;
}
#grid-form .cf7sg-col.cf7sg-inner-grid {
	background: #fff;
}
#grid-form .cf7sg-col.cf7sg-inner-grid > .cf7sg-container {
	padding-top: 3px;
}
#grid-form  .cf7sg-slider-controls .button.slider-control {
	display: none;
}
#cf7-codemirror .CodeMirror,
#cf7-js-codemirror .CodeMirror,
#cf7-css-codemirror .CodeMirror {
    height: calc( 100vh - 180px);
}
#grid-form .cf7sg-container:not(.cf7sg-slider) > .cf7sg-row:not(.cf7-sg-table-footer-row):not(.cf7-sg-table){
   border-style: solid;
   border-width: 2px;
}
#grid-form div[data-conditional-group]:not(.cf7sg-col), #grid-form .cf7sg-col.cf7sg-grid[data-conditional-group] {
	border-style: dashed !important;
	border-width: 2px !important;
}
#grid-form :not(.cf7sg-slider) .cf7sg-row {
  padding: 0 8px;
  position: relative;
}
#grid-form .cf7sg-grid.cf7sg-col > .cf7sg-row {
	padding: 0;
}
#grid-form .cf7sg-container:not(.cf7sg-slider) > .cf7sg-row:not(.cf7-sg-table-footer-row) > .cf7sg-col {
	margin-top: 1.9em;
	position: relative;
}
/* #grid-form .cf7sg-row:not(.cf7-sg-table-footer-row) > .cf7sg-col:not(.cf7sg-slider-section):not(.cf7sg-tabs-panel):not(.cf7sg-collapsible-inner):hover::after {
	content: "\f543";
	position: absolute;
	right: -4px;
	color: var(--cf7sg-col-default);
	top: 0;
	border: dashed 2px var(--cf7sg-col-default);
	background: #fff;
	height: calc(100% - 50px);
	font-family: dashicons;
	padding: 25px 2px;
	font-size: 27px;
	box-sizing: border-box;
	pointer-events: auto;
	cursor: pointer;
} 
#grid-form .cf7sg-row:not(.cf7-sg-table-footer-row):has(:nth-child(13)) > .cf7sg-col:not(.cf7sg-slider-section):not(.cf7sg-tabs-panel):not(.cf7sg-collapsible-inner):hover::after {
	content: none;
}
#grid-form .cf7sg-container:not(.cf7sg-slide) > .cf7sg-row:not(.cf7-sg-table-footer-row) > .cf7sg-col:not(.cf7sg-slider-section):not(.cf7sg-tabs-panel):not(.cf7sg-collapsible-inner):hover .grid-column,
#grid-form .cf7sg-container:not(.cf7sg-slide) > .cf7sg-row:not(.cf7-sg-table-footer-row) > .cf7sg-col:not(.cf7sg-slider-section):not(.cf7sg-tabs-panel):not(.cf7sg-collapsible-inner):hover .grid-column + .cf7sg-external-form{
	width: calc(100% - 35px);
}
#grid-form .cf7sg-row:not(.cf7-sg-table-footer-row):has(:nth-child(13)) > .cf7sg-col:not(.cf7sg-slider-section):not(.cf7sg-tabs-panel):not(.cf7sg-collapsible-inner):hover .grid-column {
	width: 100%;
}
#grid-form .cf7sg-col{
	pointer-events: none;
}
#grid-form .cf7sg-col > * {
	pointer-events: auto;
}
*/
#cf7-editor-grid .grid-column > *{
	z-index: 24;
	border-right: 0px;
	transition: border-right 0.5s linear;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col > .grid-column > *{
	z-index: 22;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > *{
	z-index: 20;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > *{
	z-index: 18;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > *{
	z-index: 16;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > *{
	z-index: 14;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > *{
	z-index: 12;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > *{
	z-index: 10;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > *{
	z-index: 8;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > *{
	z-index: 6;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > *{
	z-index: 4;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > *{
	z-index: 2;
}
#cf7-editor-grid .grid-column:hover > .cf7-field-inner{
	border-right: solid 0.3em var(--cf7sg-col-default);
}
#cf7-editor-grid .cf7sg-grid .grid-column:hover > * {
	border: none;
}
#cf7-editor-grid .grid-column > .cf7sg-col-add.dashicons {
	opacity: 0;
	position: absolute;
	transition: all 0.3s linear;
	right: 0;
	bottom: 0;
	background: #fff;
	padding: 0.5em 0.3em 0.1em 0.3em;
	border: solid 0.2em var(--cf7sg-col-default);
	border-left: 0px;
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	width: 1em;
	font-size: 1.7em;
	z-index: 23;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col > .grid-column > .cf7sg-col-add.dashicons {
	z-index: 21;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > .cf7sg-col-add.dashicons {
	z-index: 19;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > .cf7sg-col-add.dashicons {
	z-index: 17;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > .cf7sg-col-add.dashicons {
	z-index: 15;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > .cf7sg-col-add.dashicons {
	z-index: 13;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > .cf7sg-col-add.dashicons {
	z-index: 11;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > .cf7sg-col-add.dashicons {
	z-index: 9;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > .cf7sg-col-add.dashicons {
	z-index: 7;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > .cf7sg-col-add.dashicons {
	z-index: 5;
}
#cf7-editor-grid .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col + .cf7sg-col > .grid-column > .cf7sg-col-add.dashicons {
	z-index: 3;
}
#cf7-editor-grid .grid-column:hover > .cf7sg-col-add.dashicons {
	opacity: 1;
	right: -1.7em;
}
#cf7-editor-grid .cf7sg-inner-grid > .grid-column .cf7sg-col-add {
	top: 0;
}
#cf7-editor-grid .cf7sg-col.cf7sg-inner-grid:hover > .grid-column .cf7sg-col-add {
	border-left: solid 0.2em var(--cf7sg-col-default);
	right: -1.9em;
	opacity: 1;
}
#cf7-editor-grid .cf7sg-grid .grid-column:hover > .cf7sg-col-add.dashicons {
	opacity: 0;
	right: 0;
}

#grid-form .cf7sg-col.cf7sg-grid > .cf7sg-row .cf7sg-col::after,
#grid-form  .cf7sg-slide > .cf7sg-row > .cf7sg-col::after {
	content: none !important;
}
#grid-form .cf7sg-row.cf7-sg-table > .cf7sg-col:hover::after {
	height: 100% !important;
}
#grid-form .cf7-sg-table > .cf7sg-row {
	margin-bottom: 3px;
}
#grid-form .cf7sg-container.cf7sg-slide {
	margin: 5px 0 10px 0;
}
#grid-form .cf7sg-container.cf7sg-slide > .cf7sg-row > .cf7sg-col > .cf7sg-container:first-child {
	margin-top: 0;
}
/* #grid-form .grid-ctrls:hover{ background: #ddd;} */
#grid-form .cf7sg-tag-dynamic_select:last-child {
    margin: 0;
}
.helper-list li, .cf7sg-se-option {
  position: relative;
}
.helper-list li .helper::before{
    content: 'Click to copy!';
    display: none;
    position: absolute;
    top: -22px;
    left: 10px;
    background: #323232;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
}
.helper-list li .helper:hover::before,
.cf7sg-se-option .helper:hover::before  {
    display: inline-block;
}
.cf7sg-se-option .helper:hover::before {
	bottom: 17px;
	left: 28px;
}
/* define the UI icons width, makes it easier to modify for responsive rules */
#cf7-editor-grid .dashicons {
	width: var(--cf7sg-icon-w);
	height: var(--cf7sg-icon-w);
	font-size: var(--cf7sg-icon-s);
}
/* these are defined as responsive contrls and widths can be set separately */
#cf7-editor-grid .dashicons-ellipsis,
#cf7-editor-grid .dashicons-move{
  width:var(--cf7sg-r-icon-w);
}
#cf7-editor-grid .add-item-button {
	text-align: center;
}
#cf7-editor-grid .add-item-button a {
	color: inherit;
	text-decoration: none;
}
#cf7-editor-grid .add-item-button .dashicons {
	vertical-align: middle;
}
#cf7-editor-grid .add-item-button.add-slide-button .button{
	display: none;
}
#cf7-editor-grid .cf7sg-collapsible-inner .add-item-button .add-collapsible {
	display: none !important;
}
#grid-form .cf7-sg-tabs > .cf7sg-row .cf7sg-tab-title,
#grid-form .cf7-sg-tabs > .cf7sg-row .cf7sg-tab-button {
	display: none;
}
#cf7-editor-grid .add-slide-button .button.add-slide {
	display: inline-block;
}
#cf7-editor-grid .add-slide-button > .button > .slide-label,
#cf7-editor-grid .add-field-button > .button > .field-label,
#cf7-editor-grid .add-row-button > .button > .row-label,
#cf7-editor-grid .cf7sg-row:not(.cf7-sg-table) > .grid-ctrls .row-label {
	display: inline;
}
#cf7-editor-grid .cf7sg-collapsible > .cf7sg-row > .grid-ctrls .row-label {
	display: none;
}
#cf7-editor-grid .cf7sg-container.cf7sg-slide > .cf7sg-row > .grid-ctrls .slide-label {
	display: inline;
}
#grid-form .slide-title:not(:empty)::before, 
#grid-form .section-title:not(:empty)::before {
	content: "- ";
}
#grid-form .cf7sg-collapsible.cf7sg-toggled > .cf7sg-row > .grid-ctrls .control-label::after {
	content: '';
	display: inline-block;
	height: 15px;
	width: 27px;
	background-image: url('./image/toggle.png');
	background-size: contain;
	vertical-align: baseline;
	margin-left: 15px;
}
#grid-form .cf7sg-slide-title {
	display: none;
}
#cf7-editor-grid .cf7sg-slide > .cf7sg-row > .cf7sg-col > .grid-column > span {
	display: none;
}
#cf7-editor-grid .cf7sg-form-ctrls {
	padding: 0;
	border: solid 1px #d7d7d7;
	margin-top: 5px;
	border-radius: 3px;
	position: relative;
}
#cf7-editor-grid .control-label {
	font-size: 1.25em;
}
#grid-form .dashicons.column-control::before, 
#grid-form .grid-ctrls:not(.grid-column) .dashicons::before,
#cf7-editor-grid .cf7sg-form-ctrls .dashicons::before {
	font-size: 14px;
	font-weight: lighter;
    vertical-align: text-bottom;
}
#grid-form .dashicons-editor-code.column-control::before {
	font-size: 16px;
}
#grid-form .grid-column{position: relative;}
#grid-form .grid-ctrls:not(.grid-column) span{
	line-height: 1em;
}
#grid-form .grid-column .dashicons {
	line-height: 1.3em;
}
#grid-form .cf7sg-collapsible-title label {
    padding-left: 4px;
}
/* ----- colour rues----*/
#grid-form .cf7-sg-table-footer-row {
	border: solid 1px var(--cf7sg-text-color);
}
#grid-form .cf7sg-col.cf7sg-grid[data-conditional-group]{
  border-color: var(--cf7sg-col-default);
}
#grid-form .row-selected .grid-ctrls{
    background-color: var(--cf7sg-row-default);
}
#grid-form .cf7sg-container > .cf7sg-row:not(.cf7-sg-table-footer-row) {
  border-color: var(--cf7sg-row-default);
}
#grid-form .cf7sg-container.cf7sg-slide > .cf7sg-row {
	border-color: var(--cf7sg-row-slide);
}
#grid-form .cf7sg-container.cf7-sg-tabs > .cf7sg-row{
  border-color: var(--cf7sg-row-tab);
}
#grid-form  .grid-ctrls .dashicons, 
#grid-form  .grid-ctrls .control-label{
    color: var(--cf7sg-row-icons);
}
#grid-form .cf7sg-container.cf7-sg-table  {
    border: solid 1px var(--cf7sg-row-table);
    border-radius: 3px;
}
#grid-form .cf7sg-row.cf7-sg-table > .grid-ctrls {
	background-color: var(--cf7sg-row-table);
}
#grid-form  .grid-column .column-control, #grid-form .grid-controls {
  color: var(--cf7sg-text-color);
}
#grid-form .cf7sg-hook.column-control[data-search^="li"] ~ .cf7sg-responsive .dashicons-admin-generic {
	color: var(--cf7sg-row-slide);
}
#grid-form .grid-ctrls:not(.grid-column){
    background-color: var(--cf7sg-row-default);
}
#grid-form .grid-ctrls.cf7sg-tabs-ctrls {
	background-color: var(--cf7sg-row-tab);
}
#grid-form .grid-ctrls:not(.grid-column) .grid-controls{
    background-color: var(--cf7sg-row-default);
    color: var(--cf7sg-row-icons); 
}
#grid-form .grid-ctrls:not(.grid-column) .dashicons:hover, 
#cf7-editor-grid .cf7sg-form-ctrls .dashicons:hover{
  cursor:pointer;
  color: var(--cf7sg-row-icons-hover);
}
#grid-form .grid-column .dashicons:hover{
  cursor:pointer;
  color: var(--cf7sg-row-default);
}
#grid-form .grid-column .dashicons-hidden {
	color: var(--cf7sg-row-default);
}
#grid-form .grid-column .dashicons-hidden:hover {
	color:var(--cf7sg-row-icons-hover);
}
#grid-form .cf7sg-container:not(.cf7sg-slider):not(.cf7sg-slide) .grid-column, #grid-form .grid-controls {
	background-color: var(--cf7sg-col-default);
}
#grid-form .cf7sg-slide > .cf7sg-row > .grid-ctrls {
	background: var(--cf7sg-row-slide);
}
#grid-form .cf7sg-container.cf7sg-slide > .cf7sg-row {
  border-color: var(--cf7sg-row-slide);
}
#cf7-editor-grid .add-field-button .button {
	/* border: none; */
	background: var(--cf7sg-text-color);
}
#cf7-editor-grid .centred-menu{
  background: var(--cf7sg-col-default);
}
#cf7-editor-grid .cm-item:not(.disabled):hover {
  color: var(--cf7sg-row-default);
  cursor: pointer;
}
.cm-item.disabled {
	color: var(--cf7sg-row-icons-hover);
}
#cf7-editor-grid .add-item-button:not(.add-field-button) .button {
	color: var(--cf7sg-text-color);
	border-color: var(--cf7sg-row-icons);
	width: calc(100%/5);
	min-width: max-content;
	position: relative;
	max-width: 10em;
}
#cf7-editor-grid .cf7sg-inner-grid .add-item-button:not(.add-field-button) .button {
	width: max-content;
}
#cf7-editor-grid .add-item-button:not(.add-field-button) .button{
	background: var(--cf7sg-row-default);
}
#grid-form .cf7-sg-tabs  .button.add-tab{ display: none}
#cf7-editor-grid .add-row-button .button.add-slide {
	background: var(--cf7sg-row-slide);
}
#cf7-editor-grid .add-row-button .button.add-collapsible,
#grid-form .grid-controls.collapsible,
#grid-form .cf7sg-collapsible >.cf7sg-row > .grid-ctrls{
	background: var(--cf7sg-row-collapsible);
}
#grid-form .cf7sg-container.cf7sg-collapsible > .cf7sg-row {
  border-color: var(--cf7sg-row-collapsible);
}
#cf7-editor-grid .add-row-button .button.add-table,
#grid-form .cf7-sg-table > .grid-ctrls .grid-controls{
	background: var(--cf7sg-row-table);
}
#cf7-editor-grid .add-row-button .button.add-tab {
	background: var(--cf7sg-row-tab);
}
#cf7-editor-grid .add-slide-button .button.add-slide {
	background: var(--cf7sg-row-slide);
}
#grid-form .cf7-field-inner,
#grid-form .cf7sg-row.cf7-sg-table-footer-row {
	background-color: var(--cf7sg-text-color);
}
#grid-form .cf7sg-col[data-conditional-group]:not(.cf7sg-grid) > .grid-column {
	border-width: 2px;
	border-style: dashed;
	border-color: #fff;
}
#cf7-editor-grid .centred-menu + .popup-helper {
	background: var(--cf7sg-text-color);
	color: var(--cf7sg-row-default);
}
#cf7sg-tag-list a.button.custom-tag {
	border-color: var(--cf7sg-row-collapsible);
	color: var(--cf7sg-row-collapsible);
}
#grid-form .cf7sg-container > .cf7sg-row > .cf7sg-col > .cf7sg-row .grid-column:hover > .cf7sg-responsive .dashicons,
#grid-form .cf7sg-container > .cf7sg-row > .cf7sg-col > .cf7sg-row .grid-column:hover > .dashicons{
	color: var(--cf7sg-row-default);
}
#grid-form  .grid-column:hover .cf7-field-html::before {
  background: var(--cf7sg-row-default);
	color: #fff;
}
#cf7-editor-grid .add-row-button .button:hover .helper-tip {
	color: var(--cf7sg-row-icons);
	background: var(--cf7sg-col-default);
}
/*-----------colours end------------------*/
#cf7-editor-grid .add-row-button .button:hover .helper-tip {
	display: block;
	position: absolute;
	z-index: 2;
	padding: 0 10px;
	border: 1px solid;
	border-radius: 3px;
	top: -35px;
	left: 0px;
}
#cf7-editor-grid .centred-menu, #cf7-editor-grid  .cm-item{
  --cf7sg-col-height: 1.6em;
  height: var(--cf7sg-col-height);
  vertical-align: middle;
}
#cf7-editor-grid .centred-menu {
display: inline-block;
overflow: hidden;
width: min-content;
vertical-align: text-bottom;
--selected-item: 0;
padding: 0;
text-align: left;
line-height: 1.3;
}
#cf7-editor-grid .centred-menu:not(.show) {
	margin-top: 2px;
	border-radius: 3px;
	color: #222;
	background: #fff;
	border: 1px solid #6b6b6b;
	height: 1.3em;
}
#cf7-editor-grid .column-size,
#cf7-editor-grid .column-offset.unset{
	padding-left: 3px;
}
#cf7-editor-grid .column-offset:not(.unset){
	padding-right: 3px;
}
#cf7-editor-grid .column-offset {
	text-align: right;
}
#cf7-editor-grid .cm-item {
display: table-row;
}
#cf7-editor-grid .cm-list {
  transform: translateY(calc(-1 * var(--cf7sg-col-height) * var(--cf7sg-cm-val)));
}
#cf7-editor-grid .cm-list {
	display: flex;
	position: relative;
	z-index: 81;
	border-radius: 3px;
	flex-direction: column;
	width: max-content;
}
#cf7-editor-grid .show .cm-list {
	background: #fff;
	color: #222;
	border-radius: 3px;
	border: 1px solid var(--cf7sg-col-default);
	padding: 0 3px;
}
#cf7-editor-grid .centred-menu:not(.show) .cm-list {
	z-index: 2;
}
#cf7-editor-grid .centred-menu .cm-item {
	background: transparent;
}
#cf7-editor-grid .column-size .cm-item::after {
	content: var(--cf7sg-col-label);
	padding-left: 2px;
}
#cf7-editor-grid .centred-menu.unset { /*:not(.show) */
  width: 15px;
  text-align: left; 
}
#cf7-editor-grid .centred-menu.show { 
overflow: visible;
}
#cf7-editor-grid .column-label{
position: relative;
}
#cf7-editor-grid .centred-menu.show + .popup-helper, 
#cf7-editor-grid .centred-menu:not(.show):hover + .popup-helper {
	display: block;
	position: absolute;
	width: max-content;
	bottom: 20px;
	z-index: 10;
	padding: 2px 5px;
	border-radius: 3px;
	left: 96px;
	border: 1px solid;
}
#cf7-editor-grid .column-offset:not(.show):hover + .popup-helper {
	left: 0;
	z-index: 10008;
	bottom: 18px;
}
#cf7-editor-grid .column-size:not(.show):hover + .popup-helper {
	left: 41px;
	z-index: 10008;
	bottom: 18px;
}
#cf7-editor-grid .centred-menu.column-offset.show + .popup-helper {
	left: 44px;
}
#cf7-editor-grid .centred-menu.column-offset.unset + .popup-helper + .column-size.show + .popup-helper {
	left: 77px;
}
#grid-form .cf7sg-col.sgc-lg-1 .grid-column .dashicons-move {
    margin-left: 0;
}
/*limit inner tables/tabs within tables/tabs */
#grid-form .cf7sg-container.cf7-sg-table .cf7sg-container .grid-controls span.dashicons-admin-generic,
#grid-form .cf7sg-container.cf7-sg-tabs-panel .cf7sg-row .cf7sg-row label.tabs-row-label {
    display: none !important;
}
#grid-form  .dashicons-admin-generic, 
#grid-form  .dashicons-no-alt{margin-right: 3px;}

#grid-form  .grid-control:not(.dashicons-move){
    float: right;
}
#grid-form .grid-ctrls:not(.grid-column) .dashicons-plus::before {
	font-size: 16px;
}
#grid-form span.cf7-conditional-group {
	position: absolute;
	top: 20px;
	z-index: 3;
	background: grey;
	height: auto;
  right: 0;
}
#grid-form span.cf7-conditional-group input {
	width: 67px;
	line-height: 20px;
	padding: 0 3px;
}
#grid-form span.cf7-conditional-group label {
  padding: 0 3px;
}
#grid-form span.cf7-conditional-group :not(input) {
	vertical-align: middle;
	color: #fff;
}
/* #cf7-editor-grid .add-item-button .button{
	border: none;
} */
#grid-form .cf7sg-row > div:nth-child(2) > .grid-column .dashicons-trash.column-control,
.cf7sg-container.cf7-sg-tabs-panel > .cf7sg-row > .grid-ctrls .dashicons-plus,
.cf7sg-container.cf7-sg-tabs-panel > .cf7sg-row > .grid-ctrls .dashicons-trash,
.cf7sg-container.cf7-sg-table .add-item-button,
.helper-list li.no-post-my-form,
.cf7sg-uirs-hooks .copy-helper,
#grid-form .cf7sg-container > .cf7sg-row > .cf7sg-col > .cf7sg-row .grid-ctrls,
#grid-form .cf7sg-container > .cf7sg-row > .cf7sg-col > .cf7sg-row .grid-column > .column-control,
  #grid-form .cf7sg-container > .cf7sg-row > .cf7sg-col > .cf7sg-row .grid-column > .cf7sg-responsive .column-control {
  display: none;
}
#grid-form .cf7sg-container > .cf7sg-row > .cf7sg-col > .cf7sg-row .grid-column:hover > .cf7sg-responsive .dashicons-trash,
#grid-form .cf7sg-container > .cf7sg-row > .cf7sg-col > .cf7sg-row .grid-column:hover > .dashicons-move,
#grid-form.cf7-conditional-group .cf7sg-container > .cf7sg-row > .cf7sg-col > .cf7sg-row .grid-column:hover > .cf7sg-responsive .dashicons-hidden,
#grid-form .cf7sg-container > .cf7sg-row > .cf7sg-col > .cf7sg-row .grid-column:hover > .cf7sg-responsive .dashicons-editor-code {
	display: inline-block;
	position: absolute;
	z-index: 33;
	right: 0;
  background-color: none;
}
#grid-form .cf7sg-container > .cf7sg-row > .cf7sg-col > .cf7sg-row .grid-column:hover > .cf7sg-responsive .dashicons-trash {
  right: var(--cf7sg-icon-w);
}
#grid-form .cf7sg-container > .cf7sg-row > .cf7sg-col > .cf7sg-row .grid-column:hover > .cf7sg-responsive .dashicons-editor-code {
  right: calc( var(--cf7sg-icon-w) * 2);
}
#grid-form.cf7-conditional-group .cf7sg-container > .cf7sg-row > .cf7sg-col > .cf7sg-row .grid-column:hover > .cf7sg-responsive .dashicons-hidden{
  right: calc( var(--cf7sg-icon-w) * 3);
}
.grid-ctrls .dashicons-move, .grid-ctrls .dashicons-move.ext-form-control{
    cursor: unset;
}
.cf7sg-container + .cf7sg-container > .cf7sg-row > .grid-ctrls .dashicons-move,
.cf7sg-container + .cf7sg-external-form > .ext-form-controls .dashicons-move,
.cf7sg-external-form + .cf7sg-container > .cf7sg-row > .grid-ctrls .dashicons-move {
    cursor: grab;
}
#grid-form .cf7sg-row .cf7sg-col + .cf7sg-col > .grid-column .dashicons-trash.column-control {
    display: block;
}
/* #grid-form > .cf7sg-container:first-child >.cf7sg-row:first-child > .grid-ctrls  .dashicons-trash,
#grid-form > .cf7sg-external-form:first-child > .ext-form-controls  .dashicons-trash {
  visibility:hidden;
} */

.CodeMirror-wrap.cm-s-material-ocean .cm-shortcode {color: #4496ff;}
.CodeMirror-wrap.cm-s-paraiso-light .cm-shortcode {color: blue;}
.CodeMirror-wrap.cm-s-paraiso-light span.cm-string {color: #937c01;}
.CodeMirror-wrap.cm-s-paraiso-light span.cm-tag {color: #b70b0b;}
.CodeMirror-wrap.cm-s-material-ocean .cm-cf7sg-attr {color: #d300ff;}
.CodeMirror-wrap.cm-s-material-ocean .cm-cf7sg-attr + .cm-string {color: #00f900;}
.CodeMirror-wrap.cm-s-paraiso-light .cm-cf7sg-attr {color: #228f85;}
.CodeMirror-wrap.cm-s-paraiso-light .cm-cf7sg-attr + .cm-string {color: #f124ee;}

.disable-button{
  text-decoration: none;
  padding: 0 10px 1px;
  color: #9b9b9b;
  border: solid 1px #ccc;
  background-color: #ccc;
  height: 28px;
  line-height: 26px;
  vertical-align: top;
  display: inline-block;
  border-radius: 3px;
  font-size: 13px;
  margin: 0;
  box-sizing: border-box;
  white-space: nowrap;
}
.disable-button:hover {
    color: #939393;
    cursor: unset;
}
.disable-button.button:hover {
    cursor: pointer;
    color:inherit;
}
#top-grid-controls {
    padding-top: 2px;
}
#grid-form > .cf7sg-container {
    max-width: 100%;
		margin-top: 5px;
}

.button.make-grid, .button.external-form {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
#form-editor-tabs > ul li.ui-tabs-active > a {
  color:inherit;
  background-color: inherit;
}
#form-editor-tabs > ul li > a {
	padding: 1px 8px;
	display: block;
	text-decoration: none;
	min-width: 75px;
	text-align: center;
	background-color: #818a99;
	color: white;
	min-height: 25px;
}
div#form-editor-tabs > ul.ui-tabs-nav li {
    padding: 0;
}
#form-editor-tabs ul.ui-tabs-nav > li.ui-tabs-active a:hover {
    cursor: default;
}
.cf7sg-col .grid-ctrls .control-label,
.cf7sg-col .grid-ctrls .tabs-row-label,
.cf7sg-container.cf7sg-slider + .cf7sg-container  > .cf7sg-row .grid-ctrls .slider-control-label{
    display: inline-block;
}
#cf7sg-editor .cf7sg-row.cf7-sg-table > .grid-ctrls .table-label,
#cf7sg-editor .cf7sg-collapsible > .cf7sg-row > .grid-ctrls .collapsible-label {
	display: inline;
}
#grid-form input:disabled:hover, #grid-form .grid-controls label:hover {
    cursor: default;
}
#grid-form .sgc-lg-2 .grid-column .dashicons-move {
    margin-left: -2px;
}
#grid-form  .cf7-field-inner input,
#grid-form  .cf7-field-inner textarea,
#grid-form  .cf7-field-inner span.dashicons{
    display: none;
}
#cf7sg-tag-list a.button {
	font-size: 12px;
	height: 26px;
	line-height: 24px;
	margin: 2px;
	padding: 0 8px 1px;
}
#cf7sg-tag-list a.button.custom-html {
	width: 50%;
}
#grid-form  .cf7-field-inner span.dashicons {
  position:absolute;
  margin-top: 2px;
  background: #a5a5a5;
  padding: 3px 0 0px 0;
  top: 0;
  right: 0;
}
#grid-form  .cf7-field-inner {
  padding: 0px 10px;
  margin: 0;
 	box-sizing: border-box;
	position: relative;
}
#grid-form .grid-column.submit-field > .cf7-field-type {
	padding: 3px 10px;
}
#grid-form  .grid-column:hover .cf7-field-html::before {
	content: "\f464";
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -12px;
	margin-right: -12px;
	font-family: dashicons;
	font-weight: 400;
	font-size: 130%;
	width: 25px;
	height: 25px;
	text-align: center;
	border-radius: 50%;
  cursor: pointer;
}
#grid-form .cf7-sg-table-footer-row .cf7-field-tip {
	padding: 5px;
}
#grid-form  .cf7-field-tip .content {
    font-size: 90%;
    color: #727272;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#grid-form .cf7-field-type .content {
    border: solid 1px;
    width: 100%;
    display: block;
    padding: 3px 0px 3px 3px;
    border-radius: 2px;
    text-align: center;
    color: #999;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#grid-form .cf7-field-type.conditional-group .content {
	border-style: dashed;
	border-width: 2px;
}
#grid-form .grid-column:hover > .cf7-field-inner p.content,
#grid-form .grid-column-tip:hover > .cf7-field-inner p.content {
    cursor: pointer;
    color: var(--cf7sg-row-default);
}
#grid-form .cf7-field-inner input,
#grid-form .cf7-field-inner textarea {
    width: calc(100% - 10px);
}
#grid-form .cf7-field-type.textarea p.content {
    padding: 35px 0;
}
#grid-form .cf7-field-inner p {
    margin: 0;
    min-height: 20px;
    overflow-x: hidden;
}
#grid-form  .grid-column.submit-field .cf7-field-label,
#grid-form  .grid-column.submit-field .cf7-field-tip {
    display: none;
}
#grid-form  .cf7-field-type.select .content::after,
#grid-form  .cf7-field-type.dynamic-select .content::after {
    content: '\25BC';
    position: absolute;
    right: 13px;
    font-size: 1.1em;
    line-height: 1px;
    top: 12px;
}
#grid-form  .cf7-field-type.radio .content::after {
  content: '\25c9';
  position: absolute;
  left: 23px;
  font-size: 1.3em;
  line-height: 1px;
  top: 12px;
}
#grid-form  .cf7-field-type.checkbox .content::after {
  content: '\25a1';
  position: absolute;
  left: 23px;
  font-size: 1.3em;
  line-height: 1px;
  top: 12px;
}
#cf7sg-editor #contact-form-editor .contact-form-editor-panel > div.config-error {
	margin-bottom: 5px ;
}
#cf7sg-editor #contact-form-editor .contact-form-editor-panel{ padding: 0 10px;}
#cf7sg-editor  #contact-form-editor-tabs {padding: 0;}
#cf7sg-editor #contact-form-editor-tabs li {margin: 0;}
.post-type-wpcf7_contact_form  .jquery-modal.blocker{ z-index: 101;}
.cf7sg-modal-input.cf7sg-row p {
	margin: 0;
}
.cf7sg-modal-input.cf7sg-row input, .cf7sg-modal-input.cf7sg-row textarea,.cf7sg-modal-input.cf7sg-row a.button {
	width: 100%;
}
#cf7sg-custom-html .button-primary {
	text-align: center;
	margin-top: 8px;
}
#cf7sg-field-edit .button {
	width: 100%;
	text-align: center;
}
#cf7sg-field-edit .cf7sg-modal-input.cf7sg-row {
	margin: 5px 0;
}
#cf7sg-field-edit .cf7sg-tag-update{
  margin-top: 6px;
}
#cf7sg-tag-list {
	text-align: center;
}
/* ---- collapsible section ------ */
#grid-form .cf7sg-collapsible-title {
	display: none;
}
#grid-form .collapsible.grid-controls {
	width: 215px;
	right: 0;
}
/* ---- css toggle -------------- */
#cf7sg-editor .cf7sg-toggle-button .knobs::before {
	color: var(--cf7sg-text-color);
	background-color: var(--cf7sg-row-default);
  content: '';
}
#cf7sg-editor .cf7sg-toggle-button .checkbox:checked + .knobs::before {
	background-color: var(--cf7sg-row-default);
  content: '';
}
#cf7sg-editor .cf7sg-toggle-button .layer {
  background-color: inherit;
}
.cf7sg-toggle-button {
	position: relative;
	width: 45px;
	height: 19px;
	overflow: hidden;
	border: 1px solid grey;
	display: inline-block;
	vertical-align: middle;
}
.cf7sg-toggle-button .checkbox {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}
.cf7sg-toggle-button .checkbox:checked + .knobs::before {
	content: "o";
	left: 28px;
}
.cf7sg-toggle-button .knobs::before {
	content: '\00D7';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 11px;
	height: 5px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	line-height: 0.1;
	padding: 6px 2px 4px 2px;
	transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
.cf7sg-toggle-button  .knobs, .cf7sg-toggle-button  .knobs::before, .cf7sg-toggle-button  .layer {
	transition: 0.3s ease all;
}
.cf7sg-toggle-button  .knobs {
	z-index: 2;
}
.cf7sg-toggle-button .layer {
	width: 100%;
	transition: 0.3s ease all;
	z-index: 1;
}
.cf7sg-toggle-button .knobs, .cf7sg-toggle-button  .layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
/* toggle style-r round button, grey/green */
.style-r .layer{
	background-color: #f3f3f3;
}
.style-r .checkbox:checked ~ .layer {
	background-color: #f0fceb;
}
.style-r .knobs::before {
  color: #fff;
  background-color: #9a9a9a;
}
.style-r .checkbox:checked + .knobs::before {
	background-color: green;
}
.style-r,.style-r .layer {
	border-radius: 100px;
}
.style-r .knobs::before {
	border-radius: 50%;
}
/* remove dashicons from smallest columns */
#grid-form .cf7sg-container.cf7sg-grid > .cf7sg-row {
	margin-bottom: 5px;
}
#grid-form .grid-column .cf7sg-responsive{
  position: static;
  display:inline;
  top: -20px;
	background: inherit;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 18;
  min-width: 162px;
  right: 0;
}
#grid-form .cf7sg-col.cf7sg-grid .cf7sg-col .grid-column:hover > .cf7sg-responsive {
	position: relative;
	top: 0;
	border: none;
	z-index: 33;
	float: right;
}
#grid-form .sgc-lg-1 > .grid-column .cf7sg-responsive {
	display: none;
}
#grid-form .sgc-lg-1 > .grid-column .cf7sg-responsive + .dashicons-ellipsis{
  display: inline;
  float:right;
}
#grid-form .sgc-lg-1 > .grid-column:hover .cf7sg-responsive {
	position: absolute;
	display: block;
  border: solid 1px var(--cf7sg-row-icons);
}
#grid-form .sgc-lg-1 .add-field-button .button{
  padding: 0;
}
#grid-form .sgc-lg-1 {
  --cf7sg-icon-w:15px;
}
#grid-form .sgc-lg-1 > .grid-column{  
  --cf7sg-r-icon-w:20px;
} 
/* Row modal tabbed settings */
#cf7sg-grid-modal {
	padding: 0;
	font-size: 15px;
	max-width: 600px;
}
#cf7sg-grid-modal > section{
	background: var(--cf7sg-row-default);
	border-radius: 8px;
	line-height: normal;
}
#cf7sg-grid-modal > .cf7sg-form-ctrls {
	background-color: #cbcbcb;
}
#cf7sg-grid-modal section.cf7sg-ui-col {
	background: var(--cf7sg-col-default);
}
#cf7sg-grid-modal > section.cf7sg-coll-ctrls{
	background: var(--cf7sg-row-collapsible);
}
#cf7sg-grid-modal > section.cf7sg-coll-ctrls p.important-info {
	border-color: var(--cf7sg-row-collapsible);
}

#cf7sg-grid-modal > section.cf7sg-table-ctrls{
	background: var(--cf7sg-row-table);
}
#cf7sg-grid-modal > section.cf7sg-tabs-ctrls{
	background: var(--cf7sg-row-tab);
}
#cf7sg-grid-modal > section.cf7sg-slide-ctrls {
	background: var(--cf7sg-row-slide);
}
#cf7sg-grid-modal h3 {
	padding: 20px;
	margin: 0;
	color: #fff;
}
#cf7sg-grid-modal .grid-controls {
	position: relative;
	display: flex;
	height: 300px;
}
#cf7sg-grid-modal .grid-controls > .cf7sg-uirs {
	width: fit-content;
	box-sizing: border-box;
}
#cf7sg-grid-modal .cf7sg-ui-col .grid-controls > .cf7sg-uirs {
	width: 33%;
}
	.cf7sg-uirs-tabs, .cf7sg-uirs-table, .cf7sg-uirs-coll,.cf7sg-uirs-toggled, .cf7sg-uirs-cg,
.cf7sg-ui-col .cf7sg-uirs:not(.cf7sg-uirs-condition) {
	display: none;
}
.cf7sg-uirs-cg{
	margin-top: 10px;
}
.collapsible-toggle:checked ~ .cf7sg-uirs-toggled,
#conditional-grp:checked ~ .cf7sg-uirs-cg,
.cf7sg-ui-col .cf7sg-uirs.cf7sg-uis-col,
#cf7sg-grid-modal section.cf7sg-hook .cf7sg-uirs-hooks  {
	display: block;
}
.cf7sg-ui-col .cf7sg-uics{
	display:revert;
}
#cf7sg-coll-title{
	width:100%;
}
#cf7sg-grid-modal > .cf7sg-coll-ctrls .cf7sg-uirs.cf7sg-uirs-coll,
#cf7sg-grid-modal > .cf7sg-tabs-ctrls .cf7sg-uirs.cf7sg-uirs-tabs, 
#cf7sg-grid-modal > .cf7sg-table-ctrls .cf7sg-uirs.cf7sg-uirs-table {
	display: block;
}
#cf7sg-grid-modal .grid-controls .cf7sg-uirs:not(span):first-child {
	padding-left: 20px;
}
#cf7sg-grid-modal .cf7sg-settab {
	background: #fff;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	overflow-y: auto;
}
#cf7sg-grid-modal .cf7sg-uirs > input {
	position: absolute;
	visibility: hidden;
}
#cf7sg-grid-modal .cf7sg-uirs > label {
	display: inline-flex;
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: var(--cf7sg-row-icons);
	border-radius: 15px 15px 0 0;
}
#cf7sg-grid-modal .cf7sg-uirs-hooks input:not(:checked) + label {
	color: var(--cf7sg-row-slide);
	font-weight: bold;
}

#cf7sg-grid-modal .cf7sg-uirs-hooks .cf7sg-uirs-ctrl p {
	margin: 0;
	width: 100%;
	line-height: normal;
}

#cf7sg-grid-modal .cf7sg-uirs-hooks .helper{
	position: relative;
	color: var(--cf7sg-row-default);
}
#cf7sg-grid-modal .cf7sg-uirs-hooks .copy-helper {
	display: none;
	position: absolute;
	top: -22px;
	/* left: 20px; */
	background: #323232;
	color: white;
	padding: 2px 5px;
	border-radius: 3px;
	font-weight: bold;
	min-width: 95px;
}
#cf7sg-grid-modal .cf7sg-uirs-hooks .helper:hover .copy-helper {
	display: inline-block;
}
#cf7sg-grid-modal > .cf7sg-form-ctrls .cf7sg-uirs > label, 
#cf7sg-grid-modal > .cf7sg-form-ctrls h3{
	color: inherit;
}
#cf7sg-grid-modal .cf7sg-uirs > label span{
	text-align: center;
	width: 100%;
	height: 20px;
}
#cf7sg-grid-modal .cf7sg-uirs > input:not(:checked) + label:hover {
	cursor: pointer;
}
#cf7sg-grid-modal .cf7sg-uirs > input:checked + label {
	background: #fff;
	color: inherit;
	font-weight: bold;
}
#cf7sg-grid-modal .cf7sg-settab p{
	margin: 0;
	font-size: inherit;
}
#cf7sg-grid-modal p.important-info {
	border: 1px solid;
	padding: 5px 10px;
	margin: 5px 0;
	background-color: #e4e3e3;
	border-radius: 3px;
}
#cf7sg-grid-modal .cf7sg-settab {
	display: none;
}
#cf7sg-grid-modal .cf7sg-settab .cf7sg-uirs-label {
	width: 150px;
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	margin: 0 0 10px 0;
}
#cf7sg-grid-modal .cf7sg-settab .cf7sg-uirs-ctrl {
	width: calc( 100% - 155px);
	display: inline-block;
	vertical-align: top;
	margin: 0 0 10px 0;
}
#cf7sg-grid-modal input[name="cf7sg-uirst"] {
	visibility: hidden;
}
#cf7sg-grid-modal .cf7sg-uirs > input[name="cf7sg-uirst"]:checked + label + .cf7sg-settab,
#cf7sg-grid-modal .cf7sg-uirs > input[name="cf7sg-uisst"]:checked + label + .cf7sg-settab,
#cf7sg-grid-modal .cf7sg-uirs > input[name="cf7sg-uifst"]:checked + label + .cf7sg-settab {
	display: block;
	position: absolute;
	z-index: 100;
	width: 100%;
	left: 0;
	height: calc(100% - 40px);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
/* vertical row type switch*/
.cf7sg-switch-vertical{
  margin: 0;
  width: 10px;
  position: relative;
}
.cf7sg-switch-vertical input {
	height: 0;
	visibility: hidden;
	position: absolute;
}
.cf7sg-switch-vertical input:checked {
  z-index: 1;
}
.cf7sg-switch-vertical label {
	line-height: 30px;
	display: block;
	width: max-content;
	height: auto;
	margin: 0 0 0 3px;
	text-align: left;
	padding: 0 20px 0 9px;
	border-radius: 0 15px 15px 0;
  transition: opacity 0.3s ease-in-out;
}
.cf7sg-switch-vertical input:checked + label {
  cursor: default;
	color: #fff;
	font-weight: bold;
}
.cf7sg-switch-vertical input:checked + label {
	background-color: var(--cf7sg-row-default);
}
.cf7sg-switch-vertical input#svtable:checked + label, 
.cf7sg-switch-vertical input#svtable:checked ~ .cf7sg-toggle-outside .cf7sg-toggle-inside {
	background-color: var(--cf7sg-row-table);
}
.cf7sg-switch-vertical input#svcoll:checked + label,
.cf7sg-switch-vertical input#svcoll:checked ~ .cf7sg-toggle-outside .cf7sg-toggle-inside {
	background-color: var(--cf7sg-row-collapsible);
}
.cf7sg-switch-vertical input#svtabs:checked + label,
.cf7sg-switch-vertical input#svtabs:checked ~ .cf7sg-toggle-outside .cf7sg-toggle-inside {
	background-color: var(--cf7sg-row-tab);
}
.cf7sg-switch-vertical input:not(:checked):not(:disabled) + label:hover {
  opacity: 0.5;
}
.cf7sg-switch-vertical input:disabled + label {
  opacity: 0.33;
}	
.cf7sg-switch-vertical input:not(:disabled) + label {
  cursor: pointer;
}
.cf7sg-switch-vertical .cf7sg-toggle-outside {
  height: 100%;
  border-radius: 17px;
  padding: 11px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
	background: rgba(193, 193, 193, 0.29);
  position: absolute;
  right: 0;
  top: 0;
	box-sizing: border-box;
}
.cf7sg-switch-vertical .cf7sg-toggle-inside {
  border-radius: 50%;
  background: var(--cf7sg-row-default);
  position: absolute;
  transition: all 0.3s ease-in-out;
	height: 17px;
  left: 3px;
  top: 4px;
  width: 17px;
}
.cf7sg-form-ctrls .cf7sg-switch-vertical .cf7sg-toggle-inside, 
.cf7sg-form-ctrls .cf7sg-switch-vertical input:checked + label {
	background: var(--cf7sg-col-default);
}
.cf7sg-ui-col .cf7sg-switch-vertical .cf7sg-toggle-inside,
.cf7sg-ui-col input.cf7sg-uirs-coltype:checked + label {
	background: var(--cf7sg-col-default);
}
.cf7sg-switch-vertical {
  /* background-color: #00F; */
  width: 0px;
  height: auto;
  margin-left: 27px;
}
#svrow:checked ~ .cf7sg-toggle-outside .cf7sg-toggle-inside,
#svcfield:checked ~ .cf7sg-toggle-outside .cf7sg-toggle-inside,
#svfsingle:checked ~ .cf7sg-toggle-outside .cf7sg-toggle-inside,
#svtop:checked ~ .cf7sg-toggle-outside .cf7sg-toggle-inside {
  top: 6px;
}
#svtable:checked ~ .cf7sg-toggle-outside .cf7sg-toggle-inside,
#svcgrid:checked ~ .cf7sg-toggle-outside .cf7sg-toggle-inside,
#svfmulti:checked ~ .cf7sg-toggle-outside .cf7sg-toggle-inside,
#svmiddle:checked ~ .cf7sg-toggle-outside .cf7sg-toggle-inside {
  top: 36px;
}

#svcoll:checked ~ .cf7sg-toggle-outside .cf7sg-toggle-inside,
#svcform:checked ~ .cf7sg-toggle-outside .cf7sg-toggle-inside,
#svbottom:checked ~ .cf7sg-toggle-outside .cf7sg-toggle-inside {
  top: 66px;
}
#svtabs:checked ~ .cf7sg-toggle-outside .cf7sg-toggle-inside {
  top: 96px;
}
/* Responsive screens */
@media (max-width:1854px) {
  #grid-form .sgc-lg-2 > .grid-column .cf7sg-responsive {
    display: none;
  }
  #grid-form .sgc-lg-2 > .grid-column:hover .cf7sg-responsive {
    position: absolute;
    display: block;
    border: solid 1px var(--cf7sg-row-icons);
  }
  #grid-form .sgc-lg-2 > .grid-column .cf7sg-responsive + .dashicons-ellipsis{
    display: inline;
    float:right;
  }
  #grid-form .sgc-lg-2 {
    --cf7sg-icon-w:15px;
  }
  #grid-form .sgc-lg-2 > .grid-column{  
    --cf7sg-r-icon-w:20px;
  } 
}
@media (max-width:1701px) {
  /* ensure column dashicons are more compact */
  #grid-form .sgc-lg-1 .add-field-button .field-label {
    display: none;
  }
  #grid-form .sgc-lg-1 .add-field-button .button {
    --cf7sg-icon-w:20px;
  }
}
@media (max-width:1229px){
  /* ensure column dashicons are more compact */
  #cf7sg-editor:not(.full-screen) .cf7sg-hide-grid {
    display: block;
  }
  #cf7sg-editor .cf7sg-hide-grid {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10008;
  }
  .cf7sg-hide-grid p {
    margin-top: 10%;
    text-align: center;
    font-size: 1.5rem;
  }
}
@media (max-width:725px) {
  #cf7sg-editor .cf7sg-hide-grid{
    display: block;
  }
  #cf7sg-editor .cf7sg-hide-grid p.no-ui{
    display: block;
  }
  #cf7sg-editor .cf7sg-hide-grid p.full-ui{
    display: none;
  }
}