:root{

--cf7sg-scheme-name: "default" ;

--cf7sg-text-color: #fff ;
--cf7sg-base-color: #23282d ;
--cf7sg-icon-color: hsl( hue( var(--cf7sg-base-color) ), 7%, 95% ) ;
--cf7sg-highlight-color: #0073aa ;
--cf7sg-notification-color: #d54e21 ;

--cf7sg-body-background: #f1f1f1 ;

--cf7sg-link: #0073aa ;
--cf7sg-link-focus: lighten(var(--cf7sg-link), 10% ) ;

--cf7sg-button-color: var(--cf7sg-highlight-color) ;
--cf7sg-button-text-color: var(--cf7sg-text-color) ;

--cf7sg-form-checked: #7e8993 ;

--cf7sg-menu-text: var(--cf7sg-text-color) ;
--cf7sg-menu-icon: var(--cf7sg-icon-color) ;
--cf7sg-menu-background: var(--cf7sg-base-color) ;

--cf7sg-menu-highlight-text: var(--cf7sg-text-color) ;
--cf7sg-menu-highlight-icon: var(--cf7sg-text-color) ;
--cf7sg-menu-highlight-background: var(--cf7sg-highlight-color) ;

--cf7sg-menu-current-text: var(--cf7sg-menu-highlight-text) ;
--cf7sg-menu-current-icon: var(--cf7sg-menu-highlight-icon) ;
--cf7sg-menu-current-background: var(--cf7sg-menu-highlight-background) ;

--cf7sg-menu-submenu-text: mix(var(--cf7sg-base-color), var(--cf7sg-text-color), 30% ) ;
--cf7sg-menu-submenu-background: darken(var(--cf7sg-base-color), 7% ) ;
--cf7sg-menu-submenu-background-alt: desaturate( lighten(var(--cf7sg-menu-background), 7% , 7% ) );

--cf7sg-menu-submenu-focus-text: var(--cf7sg-highlight-color) ;
--cf7sg-menu-submenu-current-text: var(--cf7sg-text-color) ;

--cf7sg-menu-bubble-text: var(--cf7sg-text-color) ;
--cf7sg-menu-bubble-background: var(--cf7sg-notification-color) ;
--cf7sg-menu-bubble-current-text: var(--cf7sg-text-color) ;
--cf7sg-menu-bubble-current-background: var(--cf7sg-menu-submenu-background) ;

--cf7sg-menu-collapse-text: var(--cf7sg-menu-icon) ;
--cf7sg-menu-collapse-icon: var(--cf7sg-menu-icon) ;
--cf7sg-menu-collapse-focus-text: var(--cf7sg-text-color) ;
--cf7sg-menu-collapse-focus-icon: var(--cf7sg-menu-highlight-icon) ;

--cf7sg-adminbar-avatar-frame: lighten(var(--cf7sg-menu-background), 7% ) ;
--cf7sg-adminbar-input-background: lighten(var(--cf7sg-menu-background), 7% ) ;

--cf7sg-adminbar-recovery-exit-text: var(--cf7sg-menu-bubble-text) ;
--cf7sg-adminbar-recovery-exit-background: var(--cf7sg-menu-bubble-background) ;
--cf7sg-adminbar-recovery-exit-background-alt: mix(black, var(--cf7sg-adminbar-recovery-exit-background), 10%) ;

--cf7sg-menu-customizer-text: mix(var(--cf7sg-base-color), var(--cf7sg-text-color), 40% ) ;

--cf7sg-dashboard-accent-1: var(--cf7sg-highlight-color) ;
--cf7sg-dashboard-accent-2: rgba(255, 255, 255, 0.5) ;
--cf7sg-dashboard-icon-background: var(--cf7sg-dashboard-accent-2) ;

--cf7sg-low-contrast-theme: "false" ;
}