/*[dynamic-select] tag*/
#TB_window .tag-generator-panel {
	height: 100%;
}
#dynamic-checkbox-tag-generator .cf7sg-se-maxcheck .max-selection {
	width: 60px;
}
#dynamic-checkbox-tag-generator .cf7sg-se-maxcheck {
	margin-left: 10px;
}
p.imagegrid-filter {
	clear: both;
}
.tag-generator-panel .cf7sg-se-option {
	margin-left: 8px;
}
.cf7sg-dynamic-list-tag-manager a.helper::before {
    content: 'Click to copy!';
    display: none;
    position: absolute;
    bottom: -20px;
    left: 50px;
    background: #323232;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
}
.dynamic-select.include-images {
	display: none;
}
.cf7sg-dynamic-list-tag-manager a.helper{color:#0673ff}
.cf7sg-dynamic-list-tag-manager .position-relative{
  position: relative;
}
.cf7sg-dynamic-list-tag-manager .helper:hover::before {
    display: inline-block;
}
.cf7sg-dynamic-list-tag-manager .cf72post-new-taxonomy label {
    float: left;
    width: 24%;
    margin-right: 0.5%;
    color: gray;
}
.cf7sg-dynamic-list-tag-manager input.cf72post-new-taxonomy{
  width:100%;
}
.cf7sg-dynamic-list-tag-manager .cf72post-new-taxonomy label:last-child {
    margin-right: 0;
    margin-top: 21px;
}
.cf7sg-dynamic-list-tag-manager .cf72post-new-taxonomy label:last-child input{
  width:auto;
}
.cf7sg-dynamic-list-tag-manager .cf72post-new-taxonomy label:first-child {
    width: 26.5%;
}
.cf7sg-dynamic-list-tag-manager option.system-taxonomy {
    background: #0085ba;
    color: white;
}
.cf7sg-dynamic-list-tag-manager .hidden{
  display:none;
}
.cf7sg-dynamic-list-tag-manager option.cf7sg-taxonomy {
    background-color: #098f09;
    color: white;
}
.cf7sg-dynamic-list-tag-manager .tabordion {
  color: #333;
  display: block;
  font-family: arial, sans-serif;
  position: relative;
  width: 100%;
}
.cf7sg-dynamic-list-tag-manager .tabordion input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
.cf7sg-dynamic-list-tag-manager .tabordion section {
  display: block;
}
.cf7sg-dynamic-list-tag-manager  .tabordion  {
  border-top: 1px solid #ccc;
}
.cf7sg-dynamic-list-tag-manager .tabordion section > label {
    background: #ccc;
    border: 1px solid #ccc;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 10px 4px 2px;
    position: relative;
    width: 120px;
    z-index: 100;
    color: #333;
    border-top: 1px solid #fff;
}
.cf7sg-dynamic-list-tag-manager .tabordion section article {
  display: none;
  left: 133px;
  min-width: 300px;
  padding: 0 0 0 9px;
  position: absolute;
  top: 0;
}
.cf7sg-dynamic-list-tag-manager .tabordion section article:after {
  /*background-color: #ccc;*/
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
}
.cf7sg-dynamic-list-tag-manager .tabordion input[name="sections"]:checked + label {
  background: #fff;
  border-right: 1px solid #fff;
}
.cf7sg-dynamic-list-tag-manager .tabordion input[name="sections"]:checked ~ article {
  display: block;
}
.cf7sg-dynamic-list-sources .select2.select2-container {
    min-width: 100%;
}
.cf7sg-dynamic-list-tag-manager .select2-container{
  z-index:100051;
}
.cf7sg-dynamic-list-sources article h4 {
    margin: 0 0 2px 0;
}
input#select2-tags:disabled + label a {
    color: #b7b7b7;
    text-decoration: none;
}
